.waterfall {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  & img {
    margin: 1rem;
    position: relative;
    border-radius: 4px;
  }
  & .search {
    display: flex;
    width: 100%;
    & mat-form-field {
      width: 100%;
    }
    & button {
      margin: auto 1rem;
    }
  }
}
