<mat-toolbar color="primary">My GIFs</mat-toolbar>
<div class="waterfall" infiniteScroll [infiniteScrollDistance]="10" (scrolled)="onScroll()">
    <div class="search">
        <mat-form-field>
            <mat-label>Search GIFs</mat-label>
            <input matInput type="text" [(ngModel)]="query">
        </mat-form-field>
        <button mat-raised-button color="accent" (click)="searchGifs(query)">Search</button>
    </div>
    <img class="mat-elevation-z12" *ngFor="let gif of displayedGifs; let i=index;" src="{{gif?.images.fixed_width.url}}">
</div>